
#cr3glow {
    border-radius: 25px;
    /* height: 50vh; */
    /* width: 50vw; */
    /* padding: 8px; */
    /* padding: 30px; */
    /* border-radius: 2%; */
    color: #fff;
    /* box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
      0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
    -webkit-animation: crblink 1s infinite alternate;
    animation: crblink 1s infinite alternate; */
  }

  @-webkit-keyframes crblink {
    100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
        0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
    }
  }
  
  @keyframes crblink {
    100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
        0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
    }
  }



  .swiper {
    width: 50vw;
    height: 70vh;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    
    border: 4px solid rgba(255,255,255,0.3);
    height: 70vh;
    display: block;
    width: 100%;
  }

  .ccrousel3 {
    /* background-color: #0ba9ca; */
    /* margin: 0px 84px; */
    display: flex;
    align-items: center;
    min-height: fit-content;
  }

  .cr3prev, .cr3next {
    position: relative;
    border-radius: 50%;
    height: 4vw;
    width: 5vw;
    font-weight: bolder;
    font-size: xxx-large;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.88);
    /* padding-bottom: 4px; */
    /* background-color: aquamarine; */
    justify-content: center;

  }
  .cr3prev:hover, .cr3next:hover {
    color: rgba(255,255,255,1);
  }

  .cr3prev {
    left: 8vw;
  }
  .cr3next {
    right: 8vw;
  }


  @media screen and (max-aspect-ratio: 4/3) {
   
    .swiper {
        width: 60vw;
        height: 50vw;
    }

    .swiper-slide img {
        height: 50vw;
      }

    .cr3prev, .cr3next {
        font-size: xx-large;
        height: 3vw;
        width: 4vw;
      }

      .cr3prev {
        left: 2vw;
      }
      .cr3next {
        right: 2vw;
      }

}